.comments {
  padding: 30px 0px;
  padding-top: 50px;
  color: $title-color;
  background: #EBF1F6;
  
  &__inner {
    height: 250px;
    background-image: url(../img/reviews-bg.png);
    background-repeat: no-repeat;
    padding: 62px 52px 62px;
    position: relative;
    font-size: 14px;
  }

  &__data {
    margin-top: 30px;
    margin-bottom: 0;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  &__info {
    margin-top: -25px;
    margin-left: 60px;
  }

  &__sublink {
    color: $color-primary;
  }
}