.cost {
  padding: 115px 0;
  background-image: url(../img/b11.jpg);
  background-size: cover;
  background-position: top center;

  &__title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    margin-top: 100px;
  }

  &__descr {
    font-size: 18px;
  }

  @media (max-width: 420px) {

    &{
      background: url(../img/b-11-mob.jpg)no-repeat;
      background-size: cover;
  background-position: top center;
    }

    &__title {
      font-size: 28px;
    }

  }
}