.feedback {

  &__unit {
    width: 160px;
    height: 270px;
  }

  &__title {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;
    font-size: 39px;
    font-weight: bold;
    color: $title-color;
  }
}