.form {

  &__input {
    width: 100%;
    padding: 13px 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    margin: 0 0 25px;
    outline: none;
    color: #FFF;

    &::placeholder {
      color: #fff;
    }
  }
}

textarea {
  &::placeholder {
    color: #fff;
  }
}