body {
  color: $color-font;
  font-size: $text-size;
  font-family: 'Roboto Condensed Regular';
}

img {
  width: 100%;
  height: auto;
}

a {
  color: $color-font;

  &:hover {
    color: rgb(242, 242, 242);
  }
}



.logo {
  display: flex;
  align-items: center;


  &__icon {
    width: 100px;
    height: 60px;
  }

  &__info {
    font-size: 14px;
    margin: 0;
    margin-left: 15px;
  }
}

.promo-nav {
  .owl-prev {
    position: absolute;
    top: 35%;
    left: 3%;
    border: none;
    font-size: 70px;
    background: none;
    color: rgba(242, 241, 240, 0.907);
  }

  .owl-next {
    position: absolute;
    top: 35%;
    right: 3%;
    border: none;
    font-size: 70px;
    background: none;
    color: rgba(242, 241, 240, 0.907);
  }
}
