.header {
  background: $color-primary;
  padding-bottom: 10px;

  &__contacts {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }

  &__email {
    margin-left: 25px;
    font-size: 16px;
  }

  &__phone {
    white-space: nowrap;
    margin-left: 25px;
    font-size: 16px;
  }
  
  &__menu {
    margin-top: 7px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__btn {
    font-size: 16px;
    height: auto;
    border-radius: 20px;
    background: $color-primary;
    color: $color-font;
    padding: 10px;
    transition: 0.4s ease;
    border: 1px solid #fff;


    &:hover {
      background: #fff;
      color: $color-primary;
  }
  }

  &__title {
    font-size: 20px;
    padding-top: 30px;
  }

  @media (max-width: 778px) {
    &__contacts {
      display: none;
    }

    &__menu{
      display: none;
    }

    &__phone {
      margin-left: 0;
      font-size: 18px;
    }
  }
}

.navbar-brand {
  margin-right: 0;
}

@media (max-width: 778px) {
  .navbar {
    margin-top: -15px;
}
}