.instagram-feed {

  &__title {
    color: $title-color;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    margin-bottom: -30px;
  }
  &__plazhka {
    margin-top: -45px;
    margin-left: 5px;
    width: 210px;
    height: 40px;
    background: rgb(255, 255, 255);
    z-index: 9999999;
  }

  &__wrap {
    display: flex;
    justify-content: center;
  }
}