.instagram-feed {

  &__title {
    margin-top: 60px;
    margin-bottom: -55px;
    width: 145px;
    height: 100px;
  }
  &__plazhka {
    margin-top: -45px;
    margin-left: 5px;
    width: 210px;
    height: 40px;
    background: rgb(255, 255, 255);
    z-index: 9999999;
  }

  &__wrap {
    display: flex;
    justify-content: center;
  }
}