body .modal-backdrop {
  background-color: #202f4f;
}

.modal-uslugi .modal-dialog {
  background-image: url(../img/modal.jpg);
  background-size: cover;
  background-position: center top;
  max-width: 1140px;
  padding: 20px 35px 60px;
  box-shadow: 0px 0px 22px rgba(0, 94, 181, 0.127604);
}
.modal-uslugi .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
.modal-uslugi .modal-dialog .modal-content .modal-header {
  padding: 0;
  border: none;
}
.modal-uslugi .modal-dialog .modal-content .modal-header .close {
  outline: none;
}
.modal-uslugi .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  text-transform: uppercase;
  color: #202f4f;
  margin: 20px 0;
  text-align: center;
}
.modal-uslugi .modal-dialog .modal-content .modal-body h3 {
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #005eb5;
  margin: 0 0 25px;
  text-align: center;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .steps {
  overflow-x: auto;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .steps .steps-in {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: center;
}
.modal-uslugi-1-3 .modal-dialog .modal-content .modal-body .steps .steps-in {
   /* width: 965px;*/
}
.modal-uslugi .modal-dialog .modal-content .modal-body .steps .steps-in .step {
  text-align: center;
  width: 185px;
  margin: 0 10px 0 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .steps .steps-in .step .number {
  width: 82px;
  height: 82px;
  background-color: #005eb5;
  border-radius: 50%;
  margin: 0 auto 20px;
  position: relative;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .steps .steps-in .step .number::after {
  position: absolute;
  content: '';
  width: 82px;
  height: 30px;
  background-image: url(../img/modal-arrow.svg);
  background-repeat: no-repeat;
  top: 13px;
  right: -95px;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .steps .steps-in .step .number p {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 82px;
  margin: 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .steps .steps-in .step .text {
  padding: 18px 8px;
  border: 1px solid #CCDFF0;
  border-radius: 6px;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .steps .steps-in .step .text p {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  color: #202f4f;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .steps .steps-in .step:last-child {
  margin: 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .steps .steps-in .step:last-child .number::after {
  display: none;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 35px 0 40px;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .left {
  display: flex;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .left .text {
  width: 325px;
  margin: 0 35px 0 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .left .text p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #202f4f;
  margin: 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .left .phones {
  margin: 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .left .phones p {
  margin: 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .left .phones p a {
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #202f4f;
  text-decoration: none;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .right {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .right .item {
  width: 160px;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .right .item .black {
  font-weight: bold;
  font-size: 31px;
  line-height: 37px;
  text-transform: uppercase;
  color: #202f4f;
  margin: 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .right .item .blue {
  font-weight: bold;
  font-size: 31px;
  line-height: 37px;
  text-transform: uppercase;
  color: #005eb5;
  margin: 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .info-block .right .item  .small {
    color: #202f4f;
    font-size: 16px;
    line-height: 20px;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .button-block {
  position: relative;
  z-index: 4;
  width: 100%;
  text-align: center;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .button-block .modal-btn {
  width: 100%;
  height: 70px;
  max-width: 100%;
  border: 1px solid #ffb600;
  background-color: #ffb600;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: .2s;
  cursor: pointer;
  margin: 0;
}
.modal-uslugi .modal-dialog .modal-content .modal-body .button-block .modal-btn:hover {
  background-color: #ffffff;
  color: #ffb600;
}
#order-modal {
    background-color: #fff;
}
#order-modal-2 .modal-dialog {
  background-image: url(../img/modal.jpg);
  background-size: cover;
  background-position: center top;
  max-width: 1064px;
  padding: 20px 35px 60px;
  box-shadow: 0px 0px 22px rgba(0, 94, 181, 0.127604);
}
#order-modal-2 .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
#order-modal-2 .modal-dialog .modal-content .modal-header {
  padding: 0;
  border: none;
}
#order-modal-2 .modal-dialog .modal-content .modal-header .close {
  outline: none;
}
#order-modal-2 .modal-dialog .modal-content .modal-body {
  padding: 0;
}
#order-modal-2 .modal-dialog .modal-content .modal-body h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  text-transform: uppercase;
  color: #202f4f;
  margin: 20px 0;
  text-align: center;
}
#order-modal-2 .modal-dialog .modal-content .modal-body h3 {
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #005eb5;
  margin: 0;
  text-align: center;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .person {
  width: 270px;
  margin: 50px 0 0;
  text-align: center;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .person .photo-block {
  width: 130px;
  height: 220px;
  position: relative;
  border: 7px solid #005eb5;
  margin: 0 auto 20px;
  transition: .2s;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .person .photo-block img {
  width: 176px;
  height: 176px;
  position: relative;
  margin: 15px -30px;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .person .post {
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  color: #202f4f;
  margin: 0 0 20px;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .person .name {
  font-weight: bold;
  font-size: 23px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #202f4f;
  margin: 0 0 20px;
  transition: .2s;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .info {
  width: 325px;
  margin: 50px 0 0;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .info p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 35px;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .phones {
  width: 210px;
  margin: 50px 0 0;
  text-align: left;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .phones p {
  margin: 0;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .phones p a {
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #202f4f;
  text-decoration: none;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .phones .email {
  margin: 20px 0 0;
}
#order-modal-2 .modal-dialog .modal-content .modal-body .content .phones .email a {
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
  color: #005eb5;
  text-decoration: none;
}