.main-navbar {

  margin-right: 40px;
  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    margin-top: 10px;
    margin-left: 35px;
  }

  &__link {
    text-transform: uppercase;
  }

  @media (max-width: 994px) {

    &{
      display: none;
    }
  }
}

.navbar__wrapper {
  text-align: center;
}
