.offer {
  padding: 25px 0px;
  color: $color-font--secondary;

  &__title {
    color: $title-color;
    font-size: 39px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  &__subtitle {
    font-size: 18px;
  }

  &__visible {
    cursor: pointer;
    display: flex;
    margin-top: 15px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__text {
    margin-left: 10px;
  }

  &__hidden {
    display: none;
  }
}