.promo {
  &__item {


    &--bg-1 {
      background: linear-gradient(86.04deg, rgba(0, 94, 181, 0.0001) 23.49%, #005eb5 87.23%), url(../img/slide-1.jpg)no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--bg-2 {
      background: linear-gradient(86.04deg, rgba(0, 94, 181, 0.0001) 23.49%, #005eb5 87.23%), url(../img/slide-2.jpg)no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--bg-3 {
      background: linear-gradient(86.04deg, rgba(0, 94, 181, 0.0001) 23.49%, #005eb5 87.23%), url(../img/slide-3.jpg)no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__title {
    margin-top: 90px;
    font-size: 29px;
    font-weight: bold;
  }

  &__descr {
    font-size: 18px;
  }

}