.b9 {
  padding: 60px 0 50px;
  background-color: #005eb5;
	background-image: url(../img/b16.jpg);
    background-position: center;
    background-size: cover;
}
.b9 .circles-block {
  width: 650px;
  max-width: 100%;
  position: relative;
  min-height: 456px;
}
.b9 .circles-block .circle-1 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 255px;
}
.b9 .circles-block .circle-1 .circle-in {
  width: 144px;
  height: 144px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  text-align: center;
  position: relative;
}
.b9 .circles-block .circle-1 .circle-in:after {
  content: '';
  position: absolute;
  width: 90px;
  height: 80px;
  top: -75px;
  left: 106px;
  background-image: url(../img/b9-arrow-1.svg);
}
.b9 .circles-block .circle-1 .circle-in img {
  height: 98px;
  margin: auto;
}
.b9 .circles-block .circle-1 .text-block {
  margin: 20px 0 0;
  text-align: left;
}
.b9 .circles-block .circle-1 .text-block .title {
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0 0 10px;
}
.b9 .circles-block .circle-1 .text-block .text {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
}
.b9 .circles-block .circle-2 {
  position: absolute;
  top: 0;
  left: 195px;
  width: 450px;
  display: flex;
}
.b9 .circles-block .circle-2 .circle-in {
  width: 144px;
  height: 144px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  text-align: center;
  position: relative;
}
.b9 .circles-block .circle-2 .circle-in:after {
  content: '';
  position: absolute;
  width: 85px;
  height: 114px;
  top: 111px;
  left: 146px;
  background-repeat: no-repeat;
  background-image: url(../img/b9-arrow-3.svg);
}
.b9 .circles-block .circle-2 .circle-in img {
  height: 83px;
  margin: auto;
}
.b9 .circles-block .circle-2 .text-block {
  margin: auto 0 auto 25px;
  text-align: left;
}
.b9 .circles-block .circle-2 .text-block .title {
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0 0 10px;
}
.b9 .circles-block .circle-2 .text-block .text {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
}
.b9 .circles-block .circle-3 {
  position: absolute;
  top: 200px;
  left: 415px;
  width: 240px;
}
.b9 .circles-block .circle-3 .circle-in {
  width: 144px;
  height: 144px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  text-align: center;
  position: relative;
}
.b9 .circles-block .circle-3 .circle-in:after {
  content: '';
  position: absolute;
  width: 195px;
  height: 106px;
  top: -20px;
  left: -238px;
  background-repeat: no-repeat;
  background-image: url(../img/b9-arrow-2.svg);
}
.b9 .circles-block .circle-3 .circle-in img {
  height: 87px;
  margin: auto;
}
.b9 .circles-block .circle-3 .text-block {
  margin: 20px 0 0;
  text-align: left;
}
.b9 .circles-block .circle-3 .text-block .title {
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0 0 10px;
}
.b9 .circles-block .circle-3 .text-block .text {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
}
.b9 .circles-block .circle-4 {
  position: absolute;
  top: 200px;
  left: 795px;
  width: 345px;
}
.b9 .circles-block .circle-4 .circle-in {
  width: 144px;
  height: 144px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  position: relative;
}
.b9 .circles-block .circle-4 .circle-in:after {
  content: '';
  position: absolute;
  width: 195px;
  height: 106px;
  top: -20px;
  left: -219px;
  background-repeat: no-repeat;
  background-image: url(../img/b9-arrow-4.svg);
}
.b9 .circles-block .circle-4 .circle-in img {
  height: 110px;
  margin: auto;
}
.b9 .circles-block .circle-4 .text-block {
  margin: 20px 0 0;
  text-align: left;
}
.b9 .circles-block .circle-4 .text-block .title {
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0 0 10px;
}
.b9 .circles-block .circle-4 .text-block .text {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
}
.b9 .title-block {
  width: calc(100% - 650px);
}
.b9 .title-block h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: right;
  margin: 25px 0;
}



@media screen and (max-width: 1024px) {
  
  .b9 .row {flex-direction: column-reverse;}
  .b9 .title-block {width:100%;}
  .b9 .title-block h2 {text-align: center; margin: 0 0 50px;}
  .b9 .circles-block {
      min-height: 900px;
      margin: 0 auto;
  }
  .b9 .circles-block .circle-4 {
      top: 593px;
      left: 200px;
  }
  .b9 .circles-block .circle-4 .circle-in:after {
      transform: rotate(125deg);
      top: -139px;
      left: 98px;
  }
}


@media screen and (max-width: 480px) {
  .b9 .circles-block {width: 300px;}
  .b9 .circles-block .circle-1 {width: 140px; top: 160px;}
  .b9 .circles-block .circle-1 .circle-in {width: 100px; height: 100px; margin: 0 auto;}
  .b9 .circles-block .circle-1 .circle-in:after {left: 75px;}
  .b9 .circles-block .circle-1 .circle-in img {height: 60px;}
  .b9 .circles-block .circle-2 {display: block; width: 120px; top: 0px; right: 0; left: auto;}
  .b9 .circles-block .circle-2 .circle-in {width: 100px; height: 100px; margin: 0 auto;}
  .b9 .circles-block .circle-2 .circle-in:after {top: 275px; left: 10px; transform: rotate(41deg);}
  .b9 .circles-block .circle-2 .circle-in img {height: 60px;}
  .b9 .circles-block .circle-3 {width: 120px; top: 420px; right: 0; left: auto;}
  .b9 .circles-block .circle-3 .circle-in {width: 100px; height: 100px; margin: 0 auto;}
  .b9 .circles-block .circle-3 .circle-in:after {width: 130px; height: 103px; background-position: 100%; top: -52px; left: -143px; transform: rotate(35deg);}
  .b9 .circles-block .circle-3 .circle-in img {height: 60px;}
  .b9 .circles-block .circle-4 {width: 280px; left: 10px; top: 690px;}
  .b9 .circles-block .circle-4 .circle-in {margin: 0 auto;}
  .b9 .circles-block .circle-4 .circle-in:after {width: 90px; background-position: 100% 0%; top: -90px; left: 108px;}
  
  .b9 .circles-block .text-block {margin: 20px 0 0 !important;}
  .b9 .circles-block .text-block .title {font-size: 20px !important; line-height: 22px !important; text-align: center !important;}
  .b9 .circles-block .text-block .text {font-size: 15px !important; line-height: 17px !important; text-align: center !important;}
  .b9 .title-block h2 {font-size: 33px;}
  
}




