.stage {
  margin-top: 30px;

  &__unit {
  width: 100%;
  max-width: 1015px;
  background: #FFFFFF;
  box-shadow: 0px 0px 22px rgba(0, 94, 181, 0.127604);
  padding: 55px 60px;
  margin: 10px auto;
  background-image: url(../img/russia.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  }

  &__title {
    color: $title-color;
    font-size: 34px;
    font-weight: bold;
  }

  &__subtitle {
    color: $color-primary;
    font-size: 21px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    &-block {
      text-align: center;
      font-size: 18px;
      color: #202f4f;
      width: 200px;
    }
  }

  &__before-price {
    color: $title-color;
    margin-bottom: 0;
  }

  &__price {
    color: $color-secondary;
    font-size: 29px;
  }

  &__subinfo {
    margin-top: 15px;
    font-size: 21px;
    font-weight: bold;
    color: $title-color;
  }
}


/* b4 */

.b4 {
  padding: 30px 0;
}
.b4 .item {
  width: 100%;
  max-width: 1015px;
  background: #FFFFFF;
  box-shadow: 0px 0px 22px rgba(0, 94, 181, 0.127604);
  padding: 55px 60px;
  margin: 10px auto;
  background-image: url(../img/russia.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.b4 .item .title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  text-transform: uppercase;
  color: #202f4f;
  margin: 0 0 10px;
}
.b4 .item .after-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #005EB5;
}
.b4 .item .flex {
  margin: 35px 0 0;
  display: flex;
  justify-content: space-between;
}
.b4 .item .flex .flex-item {
  display: flex;
  flex-wrap: wrap;
}
.b4 .item .flex .flex-item .fa {
  margin: 0 20px 0 0;
  color: #ffb600;
  font-size: 40px;
}
.b4 .item .flex .flex-item .text {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #202f4f;
  margin: 0;
}
.b4 .item .flex .flex-item .before-price {
  width: 140px;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  color: #202f4f;
  margin: 0;
  text-align: center;
}
.b4 .item .flex .flex-item .price {
  width: 140px;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #ffb600;
  text-align: center;
  margin: 0;
}
.b4 .item .flex .flex-item .modal-btn {
  width: 218px;
  height: 70px;
  border: 1px solid #ffb600;
  background-color: #ffb600;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: .2s;
  cursor: pointer;
}
.b4 .item .flex .flex-item .modal-btn:hover {
  background-color: #ffffff;
  color: #ffb600;
}
.b4 .item .flex .flex-item.column {
  flex-direction: column;
}
.b4 .item .bottom-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #202f4f;
  margin: 45px 0 0;
}


/* media */

@media screen and (max-width: 812px) {
  .b4 .item {padding: 20px 150px 20px 20px;}
  .b4 .item .flex {flex-wrap: wrap;}
  .b4 .item .flex .flex-item {width: 50%; margin: 20px 0 0;}
 
 
}
@media screen and (max-width: 767px) {

  .b4 .item {background-position: 114% 50%;}
  .b4 .item .flex .flex-item {width: 100%;}  
}

@media screen and (max-width: 375px) {
  .b4 .item {background-position: 114% 36%; background-size: 35%;    padding: 20px 45px 20px 20px;}
  
}




